.satu{
    background-color: aqua;
    width: 200px;
    height: 200px;
}
.dua{
    background-color: brown;
}

div{
    width: 200px;
    height: 200px;
    background-color: blue;
    overflow: auto; 
}